#toplevel_page_wp-masters-plugins .wp-submenu .wp-first-item {
    display: none;
}

#toplevel_page_wp-masters-plugins a {
    background: #ffa100 !important;
    font-weight: 600;
    color: #fff !important;
}

#toplevel_page_wp-masters-plugins .wp-menu-image.dashicons-before img {
    width: 25px;
    height: 25px;
    padding-top: 5px !important;
    opacity: 1;
}

#wpm_seo_articles_generator {
    display: flex;
    margin-top: 20px;
}

#wpm_seo_articles_generator .wpm-left-sidebar {
    width: 15%;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-logo {
    padding: 20px;
    text-align: center;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-logo img {
    max-width: 100%;
    margin: 0 auto;
}

#wpm_seo_articles_generator .wpm-logo .wpm-small-logo {
    display: none;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding: 16px 20px 18px 20px;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    border-left: 2px solid transparent;
    margin: 0;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table:hover, #wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table.active {
    background: #fff;
    border-left: 2px solid #ffa100;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table:hover .wpm-selector-icon, #wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table.active .wpm-selector-icon {
    color: #ffa100;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table .wpm-selector-info .wpm-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: -0.08px;
    color: #121116;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table .wpm-selector-info .wpm-description {
    color: #72777c;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table:hover .wpm-selector-info .wpm-title, #wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table.active .wpm-selector-info .wpm-title {
    color: #ffa100;
}

#wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table .wpm-selector-icon {
    font-size: 20px;
    color: #b5b5b5;
}

#wpm_seo_articles_generator .wpm-center-content {
    width: 60%;
    background: #fff;
    padding: 24px 24px;
    border-radius: 5px;
}

#wpm_seo_articles_generator .wpm-right-sidebar {
    width: 15%;
    padding-left: 1%;
}

#wpm_seo_articles_generator .wpm-right-sidebar .wpm-need-help-block {
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0;
    text-align: center;
}

#wpm_seo_articles_generator .wpm-right-sidebar .wpm-our-company-block {
    background: #2b2a29;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#wpm_seo_articles_generator .wpm-right-sidebar .wpm-our-company-block .wpm-our-company-block-icon {
    font-size: 45px;
    margin-bottom: 20px;
}

#wpm_seo_articles_generator .wpm-right-sidebar .wpm-our-company-block .wpm-our-company-block-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

#wpm_seo_articles_generator .wpm-right-sidebar .wpm-our-company-block .wpm-our-company-block-button {
    background: #ffa100;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s;
    outline: none !important;
    box-shadow: none !important;
}

#wpm_seo_articles_generator .wpm-right-sidebar .wpm-our-company-block .wpm-our-company-block-button:hover {
    background: #ffffff;
    color: #000;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-header-table {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content {
    margin-top: 20px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content:nth-child(1n+2) {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-table-scroller {
    max-height: 300px;
    overflow-y: auto;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block {
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-bottom: 15px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block.no-margin-bottom {
    margin-bottom: 0;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block .wpm-section-footer {
    margin-top: 15px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block.two-width {
    width: 49%
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block.full-width {
    width: 100%;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block.no-content {
    margin: 0;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block .wpm-section-body-list-block-gray {
    background: #f0f0f1;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block .wpm-section-body-list-block-gray .wpm-section-body-list-block-gray-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block .wpm-section-body-list-block-gray-description {
    margin-bottom: 15px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block .wpm-section-body-list-block-gray .wpm-section-body-list-block-gray-button a {
    background: #2b2a29;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: 600;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block .wpm-section-body-list-block-gray .wpm-section-body-list-block-gray-button a:hover {
    background: #ffa100;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #ffa100;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block input {
    text-align: left;
    padding: 10px 15px;
    color: #020336;
    border-radius: 10px;
    background: #f0f0f1;
    border: 1px solid #d9d9d9;
    outline: none !important;
    box-shadow: none !important;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block select {
    text-align: left;
    padding: 10px 15px;
    color: #020336;
    border-radius: 10px;
    background-color: #f0f0f1;
    border: 1px solid #d9d9d9;
    outline: none !important;
    box-shadow: none !important;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block textarea {
    text-align: left;
    padding: 10px 15px;
    color: #020336;
    border-radius: 10px;
    background-color: #f0f0f1;
    border: 1px solid #d9d9d9;
    outline: none !important;
    box-shadow: none !important;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-footer {
    display: flex;
    align-items: center;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-button {
    background: #ffaa19;
    border: 0;
    padding: 12px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s;
    outline: none !important;
    box-shadow: none !important;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-button-black {
    background: #2b2a29;
    border: 0;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-button-black.wpm-red-btn {
    background: #e10000;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-button-black:hover {
    background: #ffaa19;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-footer .wpm-ajax-error-message {
    margin-left: 15px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-ajax-error-message {
    color: red;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-ajax-error-message.wpm-success {
    color: green;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-button:hover {
    background: #2b2a29;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-title #wpm-key-status {
    color: red;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-title #wpm-key-status.activated {
    color: green;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-header-table .wpm-header-table-icon {
    background: rgb(255 161 0 / 90%);
    height: 49px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
    border-radius: 3px;
}

#wpm_seo_articles_generator .wpm-center-content .wpm-header-table .wpm-header-table-title {
    font-size: 1.625rem;
    font-weight: 600;
    letter-spacing: .01em;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    border: 1px solid #eeeeef;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.wpm-stats-table {
    margin-bottom: 10px !important;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.no-margin {
    margin: 0;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table:nth-last-of-type(1) {
    margin-bottom: 0;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table thead {
    background: #2b2a29;
    color: #fff;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.collections thead {
    background: #404040;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.collections thead th {
    padding: 20px 20px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table thead th {
    padding: 17px 20px;
    font-size: 16px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.five-column thead th {
    width: 20%;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.two-column thead th {
    width: 50%;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table tbody tr {
    background: #eeeeef;
    padding: 10px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table tbody tr:nth-child(even) {
    background: white;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table tbody td {
    padding: 10px 20px;
    width: 50%;
    overflow-wrap: anywhere;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.two-column tbody td {
    width: 50%;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.five-column tbody td {
    width: 20%;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.five-column tbody td.double-btns {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.five-column tbody td.double-btns a:nth-child(2) {
    margin-top: 5px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table.collections tbody td {
    width: 33%;
    padding: 10px 20px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-alert-help {
    background: #22b189;
    padding: 15px 20px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-alert-help svg {
    font-size: 40px;
    margin-right: 10px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table tbody td .fa-times {
    color: #ff0003;
    vertical-align: -2px;
    margin-left: 3px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table tbody td .fa-check {
    color: #22b189;
    vertical-align: -2px;
    margin-left: 3px;
}

.jquery-modal {
    background-color: rgba(0,0,0,0.5);
}

.jquery-modal .modal {
    box-shadow: unset;
    padding: 0;
}

.jquery-modal .modal-title {
    background: #22b189;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
}

.jquery-modal .modal-content {
    padding: 20px;
}

.jquery-modal #wpm-content-here {
    width: 100%;
    background: #eee;
    padding: 10px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content .progress-info progress {
    height: 20px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content #footer-import-posts {
    margin-top: 15px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content #footer-import-posts .wpm-publication-status {
    margin: 0 20px;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content #footer-import-posts #import-all-posts {
    text-align: center;
}

#wpm_seo_articles_generator .wpm-select-table .wpm-body-content #footer-import-posts select {
    text-align: left;
    padding: 5px 35px 5px 15px;
    color: #020336;
    border-radius: 5px;
    background-color: #f0f0f1;
    border: 1px solid #d9d9d9;
    outline: none !important;
    box-shadow: none !important;
}

@media(max-width: 1400px) {
    #wpm_seo_articles_generator .wpm-left-sidebar {
        width: 20%;
    }
}

@media(max-width: 1200px) {
    #wpm_seo_articles_generator .wpm-right-sidebar {
        display: none;
    }
    #wpm_seo_articles_generator .wpm-left-sidebar {
        width: 25%;
    }
    #wpm_seo_articles_generator .wpm-center-content {
        width: 67%;
    }
    #wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table thead th:nth-child(2), #wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-status-table thead th:nth-child(5) {
        display: none;
    }
    #wpm_seo_articles_generator .wpm-select-table .wpm-body-content #queued_articles_table tbody td:nth-child(2), #wpm_seo_articles_generator .wpm-select-table .wpm-body-content #queued_articles_table tbody td:nth-child(5) {
        display: none;
    }
}

@media(max-width: 978px) {
    #wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block {
        width: 49%;
    }
}

@media(max-width: 760px) {
    #wpm_seo_articles_generator .wpm-left-sidebar {
        width: 20%;
    }
    #wpm_seo_articles_generator .wpm-logo .wpm-big-logo {
        display: none;
    }
    #wpm_seo_articles_generator .wpm-logo .wpm-small-logo {
        display: block;
    }
    #wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table .wpm-selector-info  {
        display: none;
    }
    #wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table {
        justify-content: center;
    }
    #wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table .wpm-selector-icon {
        font-size: 30px;
    }
    #wpm_seo_articles_generator .wpm-center-content .wpm-header-table .wpm-header-table-icon {
        height: 39px;
        width: 39px;
        font-size: 15px;
    }
    #wpm_seo_articles_generator .wpm-center-content .wpm-header-table .wpm-header-table-title {
        font-size: 1.325rem;
    }
}

@media(max-width: 500px) {
    #wpm_seo_articles_generator .wpm-left-sidebar {
        width: 15%;
    }
    #wpm_seo_articles_generator .wpm-center-content {
        width: 65%;
    }
    #wpm_seo_articles_generator .wpm-left-sidebar .wpm-logo {
        padding: 10px 10px;
    }
    #wpm_seo_articles_generator .wpm-left-sidebar .wpm-menu-list .wpm-change-table .wpm-selector-icon {
        font-size: 20px;
    }
    #wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-alert-help {
        flex-direction: column;
        text-align: center;
    }
    #wpm_seo_articles_generator .wpm-select-table .wpm-body-content .wpm-alert-help svg {
        margin-bottom: 10px;
    }
    #wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block {
        width: 100%;
    }
    #wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block.two-width {
        width: 100%
    }
    #wpm_seo_articles_generator .wpm-center-content .wpm-body-content .wpm-section-content .wpm-section-body .wpm-section-body-list .wpm-section-body-list-block.no-margin-bottom {
        margin-bottom: 15px;
    }
}